<h1>Cooking App</h1>

<p>Hi <%= @user.name %>,</p>
<p>Thanks for signing up with Cooking App!</p>
<p>You must click on the link below to activate your account: </p>
<%= link_to "Confirm Account", edit_account_activation_url(@user.confirm_token) %>
<p>Have fun, and don't hesitate to contact us with your feedback.</p>
<p>The Cooking App Team</p>